<div class="card container-fluid">
    <div class="row">
        <div class="gradient-filter col-sm-12"></div>
        <%= image_tag "#{category[:url]}", class: "col-sm-12" %>
        <h1 class="col-sm-4 col-sm-offset-4"><%= "#{category[:name]}" %></h1>
    </div>
</div>