<div class="container-fluid" id="container">
    <div class="row">


        <%-# Begin Sidebar -%>
        <div class="col-sm-4" id="sidebar">
            <%= image_tag  "logo.png" %>
            <h1 id="title">Shed The Studio</h1>
            <p id="subtitle">Jonny's awesome video studio that does cool ass stuff</p>
            <ul class="list-inline" id="contact-icons">
                <li class="contact-icon">Icon 1</li>
                <li class="contact-icon">Icon 2</li>
                <li class="contact-icon">Icon 3</li>
            </ul>
        </div>
        <%-# End Sidebar -%>

        <%-# Begin Video Box -%>
        <div id="video-box" class="col-sm-6 col-sm-offset-5">
            <% @categories.each do |category| %>
                <%= render partial: "/components/category_card", locals: {category: category} %>
            <% end %>
        </div>
        <%-# End Video Box -%>


    </div>
</div>