.card {
    position: relative;
    height: 33vh !important;
    display: flex;
    flex-direction: column;
}

.card h1 {
    position: absolute;
    top: 27%;
    text-align: center;
    color: white;
}

.card img {
    height: 28vh;
}
